In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# Reading eeg data from csv file to a dataframe called "eeg_data"
eeg_data = pd.read_csv("EEG_data.csv")
eeg_data.head()

,SubjectID,VideoID,Attention,Mediation,Raw,Delta,Theta,Alpha1,Alpha2,Beta1,Beta2,Gamma1,Gamma2,predefinedlabel,user-definedlabeln
0,0.0,0.0,56.0,43.0,278.0,301963.0,90612.0,33735.0,23991.0,27946.0,45097.0,33228.0,8293.0,0.0,0.0
1,0.0,0.0,40.0,35.0,-50.0,73787.0,28083.0,1439.0,2240.0,2746.0,3687.0,5293.0,2740.0,0.0,0.0
2,0.0,0.0,47.0,48.0,101.0,758353.0,383745.0,201999.0,62107.0,36293.0,130536.0,57243.0,25354.0,0.0,0.0
3,0.0,0.0,47.0,57.0,-5.0,2012240.0,129350.0,61236.0,17084.0,11488.0,62462.0,49960.0,33932.0,0.0,0.0
4,0.0,0.0,44.0,53.0,-8.0,1005145.0,354328.0,37102.0,88881.0,45307.0,99603.0,44790.0,29749.0,0.0,0.0

In [67]:
eeg_data.shape # eeg_data contains (12811 rows, 15 columns)

(12811, 15)

In [69]:
eeg_data.columns

Index(['SubjectID', 'VideoID', 'Attention', 'Mediation', 'Raw', 'Delta',
       'Theta', 'Alpha1', 'Alpha2', 'Beta1', 'Beta2', 'Gamma1', 'Gamma2',
       'predefinedlabel', 'user-definedlabeln'],
      dtype='object')

In [65]:
# demographic_info.csv dataset is loaded into dataframe called "demogrphic_data"
demographic_data = pd.read_csv("demographic_info.csv")
demographic_data.head()

   subject ID   age    ethnicity  gender
0           0    25  Han Chinese       M
1           1    24  Han Chinese       M
2           2    31      English       M
3           3    28  Han Chinese       F
4           4    24      Bengali       M

In [70]:
demographic_data.columns

Index(['subject ID', ' age', ' ethnicity', ' gender'], dtype='object')

In [68]:
demographic_data.shape # demographic data contains (10 rows and 4 columns)

(10, 4)

In [6]:
# Renaming the column "subject ID" to "Subject ID"
demographic_data.rename(columns={"subject ID": "SubjectID"},inplace=True)

In [7]:
demographic_data

   SubjectID   age    ethnicity  gender
0          0    25  Han Chinese       M
1          1    24  Han Chinese       M
2          2    31      English       M
3          3    28  Han Chinese       F
4          4    24      Bengali       M
5          5    24  Han Chinese       M
6          6    24  Han Chinese       M
7          7    25  Han Chinese       M
8          8    25  Han Chinese       M
9          9    24  Han Chinese       F

### Merging eeg_data and demographic_info data using inner join on Column "SubjectID"

In [56]:
merged_data = pd.merge(eeg_data,demographic_data,how="inner",on="SubjectID")
merged_data.head()

,SubjectID,VideoID,Attention,Mediation,Raw,Delta,Theta,Alpha1,Alpha2,Beta1,Beta2,Gamma1,Gamma2,predefinedlabel,user-definedlabeln,age,ethnicity,gender
0,0.0,0.0,56.0,43.0,278.0,301963.0,90612.0,33735.0,23991.0,27946.0,45097.0,33228.0,8293.0,0.0,0.0,25,Han Chinese,M
1,0.0,0.0,40.0,35.0,-50.0,73787.0,28083.0,1439.0,2240.0,2746.0,3687.0,5293.0,2740.0,0.0,0.0,25,Han Chinese,M
2,0.0,0.0,47.0,48.0,101.0,758353.0,383745.0,201999.0,62107.0,36293.0,130536.0,57243.0,25354.0,0.0,0.0,25,Han Chinese,M
3,0.0,0.0,47.0,57.0,-5.0,2012240.0,129350.0,61236.0,17084.0,11488.0,62462.0,49960.0,33932.0,0.0,0.0,25,Han Chinese,M
4,0.0,0.0,44.0,53.0,-8.0,1005145.0,354328.0,37102.0,88881.0,45307.0,99603.0,44790.0,29749.0,0.0,0.0,25,Han Chinese,M

In [57]:
# Renaming columns
merged_data.rename(columns={" gender":"Gender"," ethnicity": "Ethnicity"," age":"Age"},inplace=True)

In [58]:
merged_data["Ethnicity"]

0        Han Chinese
1        Han Chinese
2        Han Chinese
3        Han Chinese
4        Han Chinese
            ...
12806    Han Chinese
12807    Han Chinese
12808    Han Chinese
12809    Han Chinese
12810    Han Chinese
Name: Ethnicity, Length: 12811, dtype: object

In [59]:
merged_data["Gender"]

0        M
1        M
2        M
3        M
4        M
        ..
12806    F
12807    F
12808    F
12809    F
12810    F
Name: Gender, Length: 12811, dtype: object

In [60]:
merged_data.head()

,SubjectID,VideoID,Attention,Mediation,Raw,Delta,Theta,Alpha1,Alpha2,Beta1,Beta2,Gamma1,Gamma2,predefinedlabel,user-definedlabeln,Age,Ethnicity,Gender
0,0.0,0.0,56.0,43.0,278.0,301963.0,90612.0,33735.0,23991.0,27946.0,45097.0,33228.0,8293.0,0.0,0.0,25,Han Chinese,M
1,0.0,0.0,40.0,35.0,-50.0,73787.0,28083.0,1439.0,2240.0,2746.0,3687.0,5293.0,2740.0,0.0,0.0,25,Han Chinese,M
2,0.0,0.0,47.0,48.0,101.0,758353.0,383745.0,201999.0,62107.0,36293.0,130536.0,57243.0,25354.0,0.0,0.0,25,Han Chinese,M
3,0.0,0.0,47.0,57.0,-5.0,2012240.0,129350.0,61236.0,17084.0,11488.0,62462.0,49960.0,33932.0,0.0,0.0,25,Han Chinese,M
4,0.0,0.0,44.0,53.0,-8.0,1005145.0,354328.0,37102.0,88881.0,45307.0,99603.0,44790.0,29749.0,0.0,0.0,25,Han Chinese,M

### Converting non numerical values into numerical values => Feature encoding

In [61]:
merged_data["Gender"].dtype , merged_data["Ethnicity"].dtype

(dtype('O'), dtype('O'))

In [63]:
# Gender and Ethnicity are non numerical (categorical features)
merged_data = pd.get_dummies(merged_data)
merged_data.head()

,SubjectID,VideoID,Attention,Mediation,Raw,Delta,Theta,Alpha1,Alpha2,Beta1,...,Gamma1,Gamma2,predefinedlabel,user-definedlabeln,Age,Ethnicity_Bengali,Ethnicity_English,Ethnicity_Han Chinese,Gender_F,Gender_M
0,0.0,0.0,56.0,43.0,278.0,301963.0,90612.0,33735.0,23991.0,27946.0,...,33228.0,8293.0,0.0,0.0,25,0,0,1,0,1
1,0.0,0.0,40.0,35.0,-50.0,73787.0,28083.0,1439.0,2240.0,2746.0,...,5293.0,2740.0,0.0,0.0,25,0,0,1,0,1
2,0.0,0.0,47.0,48.0,101.0,758353.0,383745.0,201999.0,62107.0,36293.0,...,57243.0,25354.0,0.0,0.0,25,0,0,1,0,1
3,0.0,0.0,47.0,57.0,-5.0,2012240.0,129350.0,61236.0,17084.0,11488.0,...,49960.0,33932.0,0.0,0.0,25,0,0,1,0,1
4,0.0,0.0,44.0,53.0,-8.0,1005145.0,354328.0,37102.0,88881.0,45307.0,...,44790.0,29749.0,0.0,0.0,25,0,0,1,0,1

### Check for Null values in all columns

In [64]:
merged_data.isna().sum()

SubjectID                0
VideoID                  0
Attention                0
Mediation                0
Raw                      0
Delta                    0
Theta                    0
Alpha1                   0
Alpha2                   0
Beta1                    0
Beta2                    0
Gamma1                   0
Gamma2                   0
predefinedlabel          0
user-definedlabeln       0
Age                      0
Ethnicity_Bengali        0
Ethnicity_English        0
Ethnicity_Han Chinese    0
Gender_F                 0
Gender_M                 0
dtype: int64

👆 From this we infer that there are no NaN values in our dataset

In [53]:
# from sklearn.preprocessing import OneHotEncoder
# from sklearn.compose import ColumnTransformer

# categorical_features = ["Gender","Ethnicity"]

# encoder = OneHotEncoder()
# transformer = ColumnTransformer([('encoder',
#                                   encoder,
#                                   categorical_features)],
#                                  remainder="passthrough")

# merged_data = transformer.fit_transform(merged_data)

In [54]:
# merged_data

In [55]:
# pd.DataFrame(merged_data)